*{
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  padding:50px;
}
button{
  padding:2px;
  margin:0px 5px;
  cursor: pointer;
}
.button{
  /* width:100px; */
  /* height:40px; */
  display: flex;
  justify-content: center;
  color:white;
  margin: 10px;
}

.button button{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container ,.entityName {
  max-width: 600px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-container label,.entityName label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],.entityName input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 90%;
    max-width: 100%;
  }
}

.insertConatiner{
  padding:2px;
}