*{
  text-decoration: none;
}
body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
button{
  padding:2px;
  margin:0px 5px;
  cursor: pointer;
}
.dataform{
  width:auto;
}

.datarow{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buttons{
  display: flex;
  justify-content: space-between;
}






