.alterButton{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* font-size: 150px; */
  }
  /* .dataRow{
    background-color: antiquewhite;
  } */
.buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:30px;
  height: 30px;  
  /* font-size: 25px; */
}

  h1{
    text-align: center;
  }